@import '../../../assets/styles/variables.scss';

.wrapper {
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	justify-content: center;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.title {
	text-align: center;
	margin-bottom: 30px;
}

.button {
	margin-bottom: 30px;
}

.textBlock {
	text-align: center;
	font-size: 18px;
	a {
		font-weight: bold;
		&:hover {
			text-decoration: underline;
		}
	}
}
.errorMessage {
	padding: 5px;
}
.serverError {
	margin-top: -20px;
	font-size: 16px;
	margin-bottom: 20px;
}
.loading {
	margin-top: -20px;
	font-size: 16px;
	margin-bottom: 20px;
}
.verifiedWrapper {
	text-align: center;
	margin-bottom: 50px;
}
.verifiedTitle {
	font-size: 20px;
	font-weight: 600;
}
.verifiedText {
	margin-top: 10px;
}
